@tailwind base;

h1, h3 {
  text-shadow: 4px 0 #000, -4px 0 #000, 0 4px #000, 0 -4px #000,
               2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
}

strong {
  font-weight: 900;
}

@tailwind components;

@tailwind utilities;

@keyframes ticker-kf {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-9327px, 0, 0);
  }
}

.img-ticker {
  animation: ticker-kf 35s linear infinite;
}
