@tailwind base;

html, body {
  scroll-behavior: smooth;
}

h1, h3 {
  text-shadow: 4px 0 #000, -4px 0 #000, 0 4px #000, 0 -4px #000,
               2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
}

strong {
  @apply font-black;
}

@tailwind components;

@tailwind utilities;

@keyframes ticker-kf {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-9327px, 0, 0);
  }
}

@keyframes ticker-fk {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-2487px, 0, 0);
  }
}

.img-ticker {
  animation: ticker-fk 20s linear infinite;
  @media (min-width: 1024px) {
    animation: ticker-kf 35s linear infinite;
  }
}
